body {
    font-family: Arial, sans-serif;
}

#header {
    background-color: blueviolet;
    color: white;
    padding: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header img {
    width: 135px;
    height: 140px;
    border: 2px solid white;
    border-radius: 70px;
    margin-right: 20px;
}

#header h1,
#header p {
    color: white;
}

#content {
    display: flex;
    padding: 20px;
}

#left-content {
    width: 25%;
    border-right: 3px solid blueviolet;
    padding-right: 10px;
}

#right-content {
    padding-left: 20px;
    width: 75%;
}

h1, h2, h3 {
    color: blueviolet;
}

a {
    color: blue;
    text-decoration: none;
}

ul {
    list-style-type: square;
}

table {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: blueviolet;
    color: white;
}

.skills {
    display: flex;
    justify-content: space-between;
}

.skills table {
    width: 45%;
}
